# /etc/systemd/system/sge_deploy.service
[Unit]
Description=uWSGI instance to serve sge-deploy
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/local/sge_deploy
#Environment="PATH=/usr/local/sge_deploy/venv/bin"
ExecStart=/usr/local/sge_deploy/venv/bin/uwsgi --ini config.ini

[Install]
WantedBy=multi-user.target